svg.greenLakeBadge {
  overflow: visible;
}
.shrink {
  transform-origin: top right;
  transform: scale(1.9);
  /* animation: 800ms cubic-bezier(0.05, 0.7, 0.1, 1) 3.75s forwards shrink; */
  animation: 800ms cubic-bezier(0, 0, 0, 1) 3.75s forwards shrink;
}

@keyframes shrink {
  from {
    transform: scale(1.9);
  }
  70% {
    transform: scale(0.99);
  }
  to {
    transform: scale(1);
  }
}

.slideIn {
  opacity: 0;
  /* animation: 800ms cubic-bezier(0.05, 0.7, 0.1, 1) 3.75s forwards slidein; */
  animation: 800ms cubic-bezier(0, 0, 0, 1) 3.75s forwards slidein;
}

@keyframes slidein {
  from {
    opacity: 25%;
    transform: translateX(25%);
  }
  70% {
    transform: translateX(-1%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
