# dependencies
*node_modules

# testing
/coverage

#lock files
*package-lock.json

# production
*dist
*/out
*.next
*storybook-static
*/src/data/search

# yalc
.yalc/
yalc.lock

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.env
.env.*
.tmp
report*
.DS_Store
.native-web
.tailwind-app

*storybook.log
