# dependencies
*node_modules

# testing
/coverage

#lock files
*package-lock.json

# production
*dist
*/out
*.next
*storybook-static
*/src/data/search

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.env
.tmp
report*
.DS_Store
