{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0
  }
}
