name: Sync tokens to Figma
on:
  push:
    branches:
      - demo/design-tokens

jobs:
  sync-tokens-to-figma:
    runs-on: ubuntu-latest
    steps:
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.16.0'

      - name: Set NPM version
        run: npm install -g npm@9.5.1

      - name: Clone repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: yarn install
        working-directory: design-tokens

      - name: Sync tokens to Figma file
        run: yarn sync-tokens-to-figma
        working-directory: design-tokens
        env:
          FILE_KEY: ${{ secrets.GH_ACTION_DEMO_FIGMA_FILE_KEY }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_ACTION_VARIABLES_SYNC_FIGMA_TOKEN }}
