name: Run e2e tests
on:
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install latest dependencies
        run: yarn upgrade
        working-directory: aries-site
      # Tests are only run on headless Chrome
      - name: Build and run e2e tests on Chrome
        run: yarn test:ci
        working-directory: aries-site
        env:
          # Token can be found in Applitools project settings
          APPLITOOLS_API_KEY: ${{ secrets.APPLITOOLS_API_KEY }}
          APPLITOOLS_BATCH_ID: ${{ github.sha }}