name: Run e2e tests
on:
  pull_request:
    branches:
      - master

env:
  # Token can be found in Applitools project settings
  APPLITOOLS_API_KEY: ${{ secrets.APPLITOOLS_API_KEY }}
  APPLITOOLS_BATCH_ID: ${{github.event.pull_request.head.sha}}
  APPLITOOLS_DONT_CLOSE_BATCHES: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.x'
          cache: 'pnpm'
      - name: Install latest dependencies
        run: pnpm install
      - name: Log Git Repository
        run: echo "$GITHUB_REPOSITORY"
      # Ensure a build of design tokens is available
      - name: Create design tokens build
        run: pnpm --filter hpe-design-tokens build
      - name: Create shared hooks build
        run: pnpm --filter "@shared/hooks" build
      - name: Create aries-core build
        run: pnpm --filter "@shared/aries-core" build
      - name: Create production build
        run: pnpm --filter "apps/aries-site" build
      # Tests are only run on headless Chrome
      - name: Run e2e tests on Chrome
        run: pnpm --filter "apps/aries-site" test:ci
      - name: Run Applitools tests on Chrome
        if: ${{ github.event.pull_request.head.repo.full_name == 'grommet/hpe-design-system' }}
        run: pnpm --filter "apps/aries-site" test:applitools

  batch-completion-notification:
    needs: build-and-test
    if: ${{ github.event.pull_request.head.repo.full_name == 'grommet/hpe-design-system' }}
    runs-on: ubuntu-latest
    steps:
      - name: Update Applitools batch status
        uses: wei/curl@v1.1.1
        with:
          args: -d "" -X POST https://eyesapi.applitools.com/api/externals/github/servers/github.com/commit/${{ env.APPLITOOLS_BATCH_ID }}/complete?apiKey=${{ secrets.APPLITOOLS_API_KEY }}
